# Python
__pycache__/
*.pyc
*.pyo
coba.py
coba_coba.py
coba_scrapping.py
# Virtual environment
.venv/
venv/
complex_user.py
before.py

# Streamlit secrets
secrets.toml
.streamlit/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

old_user.py